$mycolor: #333;

$breaksmall: 768px;
$breakmedium: 992px;
$breaklarge: 1024px;
$bodyheight: 65536px;

#body {
	background-color: $mycolor;
	width: 100vw;
	height: $bodyheight;
}

.row {
	height: 10em;
	position: fixed;
	max-width: 100vw;
	// margin-left: auto;
	// margin-right: auto;
	h1 {
		font-size: 7em;
		@media (max-width: $breakmedium) and (min-width: $breaksmall){
			font-size: 7em;
		}
		@media (max-width: $breaksmall){
			font-size: 4em;
		}
	}
	.hex {
		top: 3em;
	
	}
	.rgb {
		top: 8em;
		
	}
}